<div class="container">
  <div class="selector-controls">
    <button class="nav-button" (click)="prev()">←</button>
    <div class="cards-container">
      <div
        class="game-card"
        *ngFor="let item of selectorItems; let i = index"
        [class.centered]="i === currentIndex"
        [style.transform]="
          'translateX(' +
          (i - currentIndex) * 110 +
          '%) scale(' +
          (i === currentIndex ? '1' : '0.8') +
          ')'
        "
        [style.opacity]="i === currentIndex ? '1' : '0.5'"
      >
        <h2 class="title-text">{{ item.name }}</h2>
        <img [src]="item.img" [alt]="item.name" class="objective-image" />
      </div>
    </div>
    <button class="nav-button" (click)="next()">→</button>
  </div>

  <div class="flex-center">
    <button routerLink="/game" class="glass-effect animate-float">
      ¡Comenzar aventura!
    </button>
  </div>
</div>
