<div *ngIf="pageData | async as page" class="game-content">
  <div class="content-section">
    <h1 class="gradient-text pixel-text page-title">
      {{ page.titulo }}
    </h1>

    <div class="flex-content">
      <div class="image-section" *ngIf="page.imagen">
        <img class="wiki-image" [src]="page.imagen" [alt]="page.titulo" />
      </div>
      <div class="description-section">
        <div class="description-text">
          <p>{{ page.descripcion }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="links-section">
    <h2 class="gradient-text pixel-text section-title">Enlaces relacionados</h2>
    <app-link-selector
      [enlacesInternos]="page.enlacesInternos"
    ></app-link-selector>
  </div>
</div>
